[user]
	name = KaitoMuraoka
	email = kaitoboshi@icloud.com

[core]
	editor = emacs -nw -q
	excludesfile = ~/.gitignore_global

# git delta config
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
  path = ./delta/themes.gitconfig

[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    features = colibri

[merge]
    conflictstyle = diff3
	tool = opendiff

[diff]
    colorMoved = default

[alias]
  emptycommit = "commit --allow-empty -m "空コミット""
  logo = "log --oneline"
  delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main'|xargs git branch -d; };f"
  copy-branch = "!f() { git branch --show-current | tr -d '\n' | pbcopy; echo 'Current branch name copied to clipboard.'; }; f"

[init]
	defaultBranch = main
[mergetool "opendiff"]
	cmd = opendiff \"\" \"\" -ancestor \"\" -merge \"\"
[mergetool]
	prompt = false
